

body{
    font-family: Arial, sans-serif;
    padding-top: 10%;
    background-color: #127369;
}

.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #4C5958;
    border-radius: 23px;
    font-size: larger;
    background-color: #10403B;
    color: white;
    
}

.form-group{
    margin-bottom: 15px;
}

label,input{
    display: block;
    border-radius: 4px;
    
}



input[type="submit"]{
    background-color: #BFBFBF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #414541;
}

.Login{
    background-color:#8AA6A3;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #4C5958;
}

