

body{
    font-family: Arial, sans-serif;
}

.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 15px;
}

label,input{
    display: block;
}

input[type="submit"]{
    background-color: #272927;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #414541;
}


