body {
    background-color: dimgray;
    background: url(imagemFundoLangePage.jpg) no-repeat;  
    background-size: cover;        

}


h1 {
    text-align: center;

}


header {
    text-align: end;
    background-size: 100%;
    flex-wrap: wrap;
    

}

hr.new{
    border-top: 1px dotted rgb(2, 211, 248);
    
    
}


p {
    text-align: center;
    font-size: larger;

}

main{
    text-align: center;
    color:  rgb(100, 206, 192) ;
    height: 100% ;
    width: 100% ;
    position: absolute;
    top: 30%;
    font-size: larger;
}





#prova{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
}

#ToDoList{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
}




#email{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
}


#mercado{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
}

#Desenhos{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
}

#login{
    padding-left: 0%;
    color:  rgb(100, 206, 192);
    

}

#port{
    padding: 20px;
    color:  rgb(100, 206, 192) ;

}

#Blog{
    padding: 20px;
    color:  rgb(100, 206, 192) ;
    
}





.notification{
    color: azure;
    padding: 1px;
    margin-left: 40px;
    margin-right: 10%;
    justify-content: end;
    
    
}
.enviar:hover{
    background-color: white;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgb(100, 206, 192);
}



.interess{
    font-size: 1rem;
    text-align: left;
    border-radius: 5px;
    
}

