body {
    background-color: dimgray;
    background: url(imagemFundoLangePage.jpg) no-repeat;
    height: 100vh;
    width: 100vh;
    background-size: 100% 100%;        

}


h1 {
    text-align: center;

}


header {
    text-align: end;

}


p {
    text-align: center;
    font-size: larger;

}

main{
    text-align: center;
    color:  rgb(100, 206, 192) ;

}




#login{
    padding-left: 0%;
    color:  rgb(100, 206, 192) ;

}

#port{
    padding: 20px;
    color:  rgb(100, 206, 192) ;

}

#Blog{
    padding: 90px;
    color:  rgb(100, 206, 192) ;
    
}





.notification{
    color: azure;
    padding: 1px;
    margin-left: 40px;
    margin-right: 10%;
    justify-content: end;
    

    
}
.enviar{
    background-color: white;
    border-radius: 4px;
}



.interess{
    font-size: 1rem;
    text-align: left;
}