*{
      
}

main{
    border: 1px solid black;
    margin: 5%;
     background-color: #127369;
     border-radius: 5px;
}

body{
   
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    background-color: #10403B;
   
}

.img{
    text-align: left;

  
}

.alin{
    align-items: center;
    display: flex;
    padding-left: 10px;
    font-size: larger;
   
}

.po{
    padding: 80px;
    
}

.title{
    text-align: center;
   color: white;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    

}

.alert{
    text-align: center;
    color: rgb(253, 215, 0);
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(145, 49, 49);
    box-shadow: 10px 10px 5px rgb(92, 23, 23);
}


@media screen and (max-width: 768px) {
    .alin{
        display: block;
        background-image: none;
    }
    .img{
       width: 50vw;
       margin: 0;
    }
    
}