    *{
        margin: 0%; 
        padding: 0%;
        box-sizing: border-box;
    }

    body{
        height: 100vh;
         font-family: 'Poppins', sans-serif;
        background-color: rgba(124, 121, 121, 0.445);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container{
        margin: 4px solid rgb(95, 92, 92);;
        padding: 300px 10px;
        width: 60%; 
       
    }
    /* rgb(95, 92, 92); */
    .nova-task-conatiner{
        background-color: rgb(255, 255, 255);;
        padding: 20px 20px;
        border-radius: 15px;
        box-shadow: 30px;
        display: flex;
    }
    .nova-task-conatiner input{
        flex: 3;
        font-size: 1rem;
        border: 2px solid rgb(106, 141, 53);
        border-radius: 7px;
        padding: 12px;
        font-weight: 500;

    }
    .nova-task-conatiner input:focus{
        outline: none;
        border-color: rgb(83, 161, 59);
    }

    .nova-task-conatiner button{
        flex: 1;
        border-radius: 5px;
        font-weight: 500;
        height: 100%;
        font-size: 1rem;
        border: none;
        background-color: rgb(83, 161, 59);
        color: rgb(24, 29, 25);
        margin-left: 10px;
        cursor: pointer;
    }

    .task-container{
        background-color: white;
        padding: 30px 20px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 30px rgb(0, 0, 0);
        width: 100%;
    }


