*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#BFBFBF;
}

.container{
    padding: 30px 40px;
    width: 35%;
}

.tarefas{
    background-color: #ffff;
    padding: 10px 3px;
    border-radius: 3px;
    display: flex;
}

.tarefas input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #4C5958;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #8AA6A3;
    color: white;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;

}

.tarefas input:focus{
    outline: none;
    border-color: #8AA6A3;
}

.tarefas-container{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.item i{
    background-color: #8AA6A3;
    color: white;
    padding: 12px;
    border-radius: 5px;
}

/*utilites*/

.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}

.completed{
    text-decoration: line-through;
}